html {
	height: 100%;
}

body {
	margin: 0;
}

.back {
	height: 100%;
	width: 100%;
	padding: 0;
}

.top {
	height: auto;
	position: absolute;
	top: 30px;
	right: 20px;
	left: 20px;
}

.bottom {
	height: 200px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: AliceBlue;
	overflow: auto;
}

.close-data-window {
	padding: 4px;
}

#map {
	height: 600px;
	width: 100%;
}

.search-results {
	padding-left: 0;
	padding-right: 39px;
}

.list-group {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 130px;
}

#status {
	color: red;
}

btn-link {
	background-color: white;
}